<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RandomPassword</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body style="background-color:#A6ACAF;">
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CreatRandomPassword</a>
    </div>
  </nav>
  {{{body}}}
</body>

</html>